.espera-video {
    width: 300px;
    height: 300px;
    background-color: #C489BB;
}

body {
    background: url('img/bg.svg');
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    height: auto;
    overflow-x: hidden;
}

.container p {
    word-wrap: break-word;
}

.margem1 {
    margin-left: 5px;
}

.bg-escuro .tab-content {
    background-color: unset;
}

.bg-escuro .infografico-poder {
    background-color: #fff;
}

.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('img/bt_visualizar.png');
    display: block;
    width: 88px;
    height: 88px;
    right: 20%;
    bottom: 2%;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.modal-fullscreen {
    width: 90vw;
    max-width: none;
    height: 88%;
    margin: 80px;
}

.bg-escuro .destaque li {
    color: #000;
}

.bg-escuro .box-atividade p {
    color: #000;
}

.margem-esq {
    margin-left: 5px;
}

.margem-dir {
    margin-right: 5px;
}

.elemento1-direita {
    position: absolute;
    margin-left: 100%;
    margin-top: 4%;
}

.elemento1-esquerda {
    position: absolute;
    margin-left: -53%;
    margin-top: 4%;
}

.elemento2-direita {
    position: absolute;
    margin-left: 105%;
    margin-top: 77%;
}

.elemento2-esquerda {
    position: absolute;
    margin-left: -41%;
    margin-top: 77%;
}

.elemento3-direita {
    position: absolute;
    margin-left: 115%;
    margin-top: 14%;
}

.elemento3-esquerda {
    position: absolute;
    margin-left: -52%;
    margin-top: 14%;
}

.elemento4-esquerda {
    position: absolute;
    margin-left: -54%;
    margin-top: 50%;
}

.elemento5-direita {
    position: absolute;
    margin-left: 106%;
    margin-top: 4%;
}




@media screen and (max-width:1440px) {
    .modal-fullscreen {
        width: 90vw;
        max-width: none;
        height: 88%;
        margin: 65px;
    }

    .elemento1-direita {
        transform: scale(0.6);
        position: absolute;
        margin-left: 84%;
        margin-top: 4%;
    }

    .elemento1-esquerda {
        transform: scale(0.6);
        position: absolute;
        margin-left: -37%;
        margin-top: 4%;
    }

    .elemento2-esquerda {
        position: absolute;
        margin-left: -26%;
        margin-top: 4%;
        transform: scale(0.9);
    }

    .elemento2-direita {
        position: absolute;
        margin-left: 97%;
        margin-top: 4%;
        transform: scale(0.9);
    }

    .elemento3-direita {
        position: absolute;
        margin-left: 90%;
        margin-top: 14%;
    }

    .elemento3-esquerda {
        position: absolute;
        margin-left: -29%;
        margin-top: 14%;
        transform: scale(0.9);
    }

    .elemento4-esquerda {
        position: absolute;
        margin-left: -30%;
        margin-top: 45%;
        transform: scale(0.8);
    }

    .elemento5-direita {
        position: absolute;
        margin-left: 87%;
        margin-top: 4%;
        transform: scale(0.7);
    }

}


@media screen and (max-width:1400px) {
    .modal-fullscreen {
        width: 90vw;
        max-width: none;
        height: 88%;
        margin: 70px;
    }

    .elemento1-direita {
        transform: scale(0.6);
        position: absolute;
        margin-left: 82%;
        margin-top: 4%;
    }

    .elemento1-esquerda {
        transform: scale(0.6);
        position: absolute;
        margin-left: -35%;
        margin-top: 4%;
    }

    .elemento2-esquerda {
        position: absolute;
        margin-left: -26%;
        margin-top: 4%;
        transform: scale(0.9);
    }

    .elemento2-direita {
        position: absolute;
        margin-left: 97%;
        margin-top: 4%;
        transform: scale(0.9);
    }

    .elemento3-direita {
        position: absolute;
        margin-left: 89%;
        margin-top: 14%;
    }

    .elemento3-esquerda {
        position: absolute;
        margin-left: -28%;
        margin-top: 14%;
        transform: scale(0.9);
    }

    .elemento4-esquerda {
        position: absolute;
        margin-left: -29%;
        margin-top: 40%;
        transform: scale(0.8);
    }
}

@media screen and (max-width:1370px) {

    .elemento1,
    .elemento2,
    .elemento3,
    .elemento4 {
        position: absolute;
        margin-left: -31%;
        margin-top: -25%;
        transform: scale(0.6);
    }

    .elemento1-esquerda {
        transform: scale(0.55);
        position: absolute;
        margin-left: -34%;
        margin-top: 4%;
    }

    .elemento1-direita {
        transform: scale(0.55);
        position: absolute;
        margin-left: 81%;
        margin-top: 4%;
    }

    .elemento2-esquerda {
        position: absolute;
        margin-left: -26%;
        margin-top: 4%;
        transform: scale(0.7);
    }

    .elemento2-direita {
        position: absolute;
        margin-left: 97%;
        margin-top: 4%;
        transform: scale(0.7);
    }

    .elemento3-esquerda {
        transform: scale(0.8);
        position: absolute;
        margin-left: -27%;
        margin-top: 4%;
    }

    .elemento3-direita {
        transform: scale(0.8);
        position: absolute;
        margin-left: 90%;
        margin-top: 4%;
    }

    .elemento4-esquerda {
        transform: scale(0.8);
        position: absolute;
        margin-left: -26%;
        margin-top: 39%;
    }

    .elemento5-direita {
        position: absolute;
        margin-left: 85%;
        margin-top: 4%;
        transform: scale(0.6)
    }

}



@media screen and (max-width:820px) {
    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 5%;
        bottom: 2%;
    }

    .modal-fullscreen {
        width: 90vw;
        max-width: none;
        height: 92%;
        margin: 38px;
    }

    .modal-dialog {
        max-width: 690px;
        margin: 1.75rem auto;
    }

    .elemento1-direita,
    .elemento1-esquerda {
        display: none;
    }

    .elemento2-direita,
    .elemento2-esquerda {
        display: none;
    }

    .elemento3-direita,
    .elemento3-esquerda {
        display: none;
    }

    .elemento4-esquerda {
        display: none;
    }

    .elemento5-direita {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .modal-dialog {
        max-width: 650px;
        margin: 1.75rem auto;
    }
}



@media screen and (max-width:480px) {
    .esquemaDaBru {
        padding-left: 5px;
        padding-right: 40px;
    }

    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 1%;
        bottom: 6%;
    }

    .modal-fullscreen {
        width: 90vw;
        max-width: none;
        height: 92%;
        margin: 21px;
    }
}

