.espera-video {
    width: 300px;
    height: 300px;
    background-color: #C489BB;
}

body {
    background: unset;
}

.paginas .pagina1 {
    background: url('img/bg_pg1.jpg');
    background-attachment: fixed;
    margin-top: -15px;
    padding-top: 20px;
}

.pagina2 {
    background: url('img/bg_pg2.jpg');
    background-attachment: fixed;
    margin-top: -15px;
    padding-top: 20px;
}

.pagina2 p {
    color: #fff;
}

.pagina2 h1,
h2,
h3,
h4 {
    color: #fff;
}

.pagina2 figcaption {
    color: #fff;
}

.pagina1 p {
    color: #000;
}

.pagina1 h1,
h2,
h3,
h4 {
    color: #000;
}

.pagina1 figcaption {
    color: #000;
}


.bg-escuro h2,
.bg-escuro h3,
.bg-escuro h4,
.bg-escuro h5,
.bg-escuro p,
.bg-escuro li,
.bg-escuro figcaption,
.bg-escuro p.enunciado {
    color: #fff;
}

footer {
    margin-top: -180px;
    padding-top: 5px;
    background-color: transparent !important;
}

.destaque .bg-escuro li {
    color: #000;
}

.bg-escuro .destaque2 li {
    color: #000;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

blockquote {
    margin-left: 140px;
}


.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('./img/bt_visualizar.png');
    display: block;
    width: 88px;
    height: 88px;
    right: 1%;
    bottom: 2%;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.destaque1 {
    border-radius: 25px;
    margin: 100px 0;
    padding: 40px;
    background-image: var(--gradiente-secundario);
    position: relative;
    z-index: 2;
    color: #ffff !important;
}

.destaque1 p {
    color: #ffff !important;
}

.list-disc {
    list-style-type: circle;
    list-style-image: none !important;
}

.btn-download {
    margin-top: -14%;
    width: 238px;
    height: 238px;
    scale: 1.2;
}

.img-destaque {
    margin-top: -15%;
}

.img-audio {
    margin-right: 25%;
    margin-top: 13%;
}

.audio-player::after {
    display: none !important;
}

.audio-player::before {
    display: none !important;
}

.borda-colorida2 {
    background: var(--gradiente-borda);
    color: #000;
    filter: drop-shadow(rgba(82, 82, 82, 0.3) 7px 7px 5px);
    border: 5px solid transparent;
    border-radius: 25px;
}

.img-maior {
    max-width: 100% !important;
}

.bg-escuro td {
    background: unset;
    color: #000;
}

.bg-escuro tfoot td {
    color: #fff;
}

.bg-red {
    background-color: #ff5050 !important;
}

.bg-laranja {
    background-color: #ff955b !important;
}

.bg-amarelo {
    background-color: #ffd966 !important;
}

.bg-verde {
    background-color: #c8d45b !important;
}

.bg-verde-escuro {
    background-color: #92d050 !important;
}

.green {
    background-color: #00b050 !important;
}

.light-green {
    background-color: #92d050 !important;
}

.yellow {
    background-color: #FFFF00 !important;
}

.orange {
    background-color: #FFCC00 !important;
}

.red {
    background-color: #FF0000 !important;
}

.cinza {
    background-color: #e3e3e3 !important;
    color: #000;
}

.white {
    background-color: #ffff !important;
}


.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

tfoot td {
    color: #fff;
    background-color: var(--cor-primaria);
}

.borda1 {
    border: none;
}

.tab-content {
    color: #ffff;
}

.bg-escuro .tab-content {
    color: #000;
}

.podcast-bg-2 {
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    background: #fff;
    padding: 10px 25px;
    font-weight: bold;
    border-color: var(--cor-primaria);
    max-width: 250px;
    height: 116px;
}

.titulo-audio2,
.titulo-audio3 {
    padding-top: 20px;
    margin-left: -20px;
}

.painel-ferramentas{
    margin-bottom: 10%;
    margin-top: 5%;
}

.btn-lampada1 {
    background: url('img/bt01.png') no-repeat;
    width: 126px;
    height: 211px;
    border: unset;
}

.btn-lampada1:hover {
    background: url('img/bt01_2.png') no-repeat;
    width: 189px;
    height: 240px;
    border: unset;
}

.btn-lampada2 {
    background: url('img/bt02.png') no-repeat;
    width: 126px;
    height: 211px;
    border: unset;
}

.btn-lampada2:hover {
    background: url('img/bt02_2.png') no-repeat;
    width: 189px;
    height: 240px;
    border: unset;
}

.btn-lampada3 {
    background: url('img/bt03.png') no-repeat;
    width: 126px;
    height: 211px;
    border: unset;
}

.btn-lampada3:hover {
    background: url('img/bt03_2.png') no-repeat;
    width: 189px;
    height: 240px;
    border: unset;
}





@media only screen and (max-width:1440px) {
    .elemento-direita {
        position: absolute;
        margin-left: 96%;
        width: 25%;
        margin-top: -10%;
    }

    .elemento-esquerda {
        position: absolute;
        margin-left: -27%;
        margin-top: 48%;
    }

    .desktop {
        display: block;
    }

    .tablet {
        display: none;
    }
}


@media only screen and (max-width:1400px) {
    .elemento-direita {
        position: absolute;
        margin-left: 94%;
        width: 25%;
        margin-top: -10%;
    }

    .elemento-esquerda {
        position: absolute;
        margin-left: -26%;
        margin-top: 48%;
    }

    .img-div {
        margin-top: -5%;
    }

    .desktop {
        display: block;
    }

    .tablet {
        display: none;
    }
}


@media screen and (max-width:820px) {

    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 5%;
        bottom: 2%;
    }

    .desktop {
        display: none;
    }

    .tablet {
        display: block;
    }

    .painel-postit {
        margin-left: -13%
    }

    .img-painel {
        margin-left: -7%;
        margin-top: 144px;
    }

    .margem-top1 {
        margin-top: 12%;
    }

    .img-checklist {
        display: none;
    }

}

@media only screen and (max-width:768px) {

    .paginas {
        overflow-x: hidden;
    }

    h2 {
        padding-top: 3%;
    }

}


@media screen and (max-width:480px) {

    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 1%;
        bottom: 6%;
    }

    blockquote {
        margin-left: 69px;
    }

    .painel-ferramentas {
        margin: auto;
    }
}