body {
    background: url('img/bg.png');
    background-attachment: fixed;
}

.espera-video {
    width: 300px;
    height: 300px;
    background-color: #C489BB;
}


.bg-branco td {
    background-color: #fff;
    color: #000 !important;
}

.bg-escuro .img-paragrafo p {
    color: #000;
}

.selo {
    max-width: 40%;
}

.destaque-cor {
    background: var(--cor-secundaria);
}

.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}

.img-zoom::after {
    content: url('./img/bt_visualizar.png');
    display: block;
    width: 88px;
    height: 88px;
    right: 20%;
    bottom: 2%;
    position: absolute;
    filter: drop-shadow(#333 3px 3px 4px);
}

.btn-download {
    margin-top: -14%;
    width: 238px;
    height: 238px;
    scale: 1.2;
}

.img-destaque {
    margin-top: -15%;
}

.img-audio {
    margin-right: 25%;
    margin-top: 13%;
}

.audio-player::before {
    content: '';
    background: url('../assets/images/podcast_esq.png') no-repeat;
    height: 276px;
    width: 302px;
    position: absolute;
    left: -55px;
    bottom: -31px;
    scale: 0.8;
}

.audio-player::after {
    content: '';
    background: url('../assets/images/podcas_dir.png') no-repeat;
    height: 275px;
    width: 290px;
    position: absolute;
    right: -61px;
    bottom: -27px;
    z-index: 2;
    scale: 0.8;
}


.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.bg-escuro .box-atividade p {
    color: #000;
}

.bg-escuro .box-atividade td {
    color: #000;
    background-color: #fff;
}


.img-borda {
    padding: 5%;
    max-width: 250px;
    border: 5px solid transparent;
}
tr {
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
}





@media only screen and (max-width:1440px) {
    

}


@media only screen and (max-width:1400px) {
    
}


@media screen and (max-width:1366px) {


}

@media screen and (max-width:820px) {

    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 5%;
        bottom: 2%;
    }

   



}

@media only screen and (max-width:768px) {

    .paginas {
        overflow-x: hidden;
        /* Esconde a rolagem horizontal */
    }


}



@media screen and (max-width:480px) {

    .img-zoom::after {
        content: url('./img/bt_visualizar.png');
        display: block;
        width: 88px;
        height: 88px;
        right: 1%;
        bottom: 6%;
    }







}

